*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
.nav{
    background-color: crimson;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
  padding: 10px 30px;
  letter-spacing: 2px;
  font-size: 20px;
  cursor: pointer;
}
.navlinks{
    float: right;
    padding-right: 30px;
    cursor: pointer;
}
.navlinks ul li{
    display: inline-block;
    padding-right: 30px;
    cursor: pointer;
}
.navlinks ul li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    cursor: pointer;
    text-transform: uppercase;
}
.navborder:after{
    content: "";
    width: 0;
    height: 2px;
    display: flex;
    background-color: white;
    transition: width 0.3s ease;
}
.navborder:hover::after{
    width: 100%;
}
.container{
    background-image: linear-gradient(to top, rgba(145, 146,122,0.62), rgba(145, 146,122,0.2)),url(burger.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 752px;
    width: 100%;
    text-align: center;
}
.container h1{
    font-size: 32px;
    padding-top: 120px;
    color: white;

}
.container p{
    color: white;
    padding-top: 50px;
}
.order{
    background-color: crimson;
    padding: 15px 10px;
    border: none;
    font-size: 15px;
    border-radius: 3px;
    margin-top: 60px;
    transition: 0.2s ease;
    color: white;
}
.order a{
    text-decoration: none;
    color: white;
}
.order:hover{
    padding: 20px 10px;
}
.container2{
    margin: 30px 20px;
    border: 2px solid crimson;

}
.pizza{
  padding: 30px 60px;
  margin: 10px 0 0 40px;
}
.container2 h1{
    color: crimson;
    text-align: center;
    padding-top: 30px;
}
.container2 h3{
    color: crimson;
}
.Aboutmyfood{
    display: flex;
    float: right;
    margin: 50px  30px 0 0;
}
.container3{
    border: 2px solid crimson;
    margin: 30px 20px;
    padding-bottom: 150px;
}
.container3 h1{
   text-align: center;
   color: crimson;
   margin-top: 15px;
}
.combos{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
}
.combos h2{
    color: crimson;
}
.combo1,.combo2,.combo3{
    border: 2px solid crimson;
    padding: 20px 30px;
    text-align: center;
}
.combos ul li{
    list-style-type: none;
    line-height: 40px;
}
.buy{
    margin-top: 30px;
    padding: 10px 10px;
    border: none;
    border-radius: 3px;
    background-color: crimson;
    transition: 0.2s ease;
}
.buy:hover{
    background-color: rgb(237, 107, 133);
    cursor: pointer;
}
.contact{
    border: 2px solid crimson;
    margin: 30px 20px;
    text-align: center;
}
.contact h1{
    padding-top: 30px;
    color: crimson;
}
.form{
    display: grid;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
}
input[type=text]{
    margin: 10px auto 30px auto;
    width: 400px;
    padding: 7px 5px;
    border: 2px solid crimson;
    border-radius: 3px;

}
input[type=email]{
    margin: 10px auto 30px auto;
    width: 400px;
    padding: 7px 5px;
    border: 2px solid crimson;
    border-radius: 3px;

}
input[type=number]{
    margin: 10px auto 30px auto;
    width: 400px;
    padding: 7px 5px;
    border: 2px solid crimson;
    border-radius: 3px;

}
.form textarea{
    margin: 10px auto 30px auto;
    width: 400px;
    height: 250px;
    padding: 7px 5px;
    border: 2px solid crimson;
    border-radius: 3px;
}
.query{
    padding: 10px;
    background-color: crimson;
    border: none;
    border-radius: 3px;
    transition: 0.2s ease;
}
.query a{
    color: white;
    text-decoration: none;
}
.query:hover{
    background-color: rgb(237, 107, 133);

}
.footer{
    display: flex;
    padding: 50px;
    align-items: center;
    background-color:  rgb(195, 16, 52);
    justify-content: space-around;
}
.footer1,.footer2,.footer3,.credit p{
    color: white;
}
.footer2 ul,.footer3 ul{
    margin-top: 20px;
    list-style-type: none;
}
.footer2 ul a,.footer3 ul a{
    color: white;
    text-decoration: none;
    transition: 0.2s ease;
}
.footer2 ul li a:hover,.footer3 ul li a:hover{
    color: black;
    background-color: aliceblue;
}